<section id="calendarContainer" class="p-4 w-100">
    <div class="calendar">
        <div class="calendar"><div class="calendar-inner">
            <div class="calendar-controls">
            <div class="calendar-prev"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128"><path fill="#666" d="M88.2 3.8L35.8 56.23 28 64l7.8 7.78 52.4 52.4 9.78-7.76L45.58 64l52.4-52.4z"/></svg></a></div>
            <div class="calendar-year-month">
            <div class="calendar-month-label"></div>
            <div><div class="d-flex flex-column flex-lg-row justify-content-center align-items-center">
                <span class="calendar-heading">July - 2022</span>
            </div></div>
            <div class="calendar-year-label"></div>
            </div>
            <div class="calendar-next"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128"><path fill="#666" d="M38.8 124.2l52.4-52.42L99 64l-7.77-7.78-52.4-52.4-9.8 7.77L81.44 64 29 116.42z"/></svg></a></div>
            </div>
            <div class="calendar-today-date">Today: 
                <%- new Date().toLocaleDateString() %>
            </div>
            <div class="calendar-body">
                <%for(day of calendar.days){%>
                    <div class="text-center"><%=day%></div>
                <%}%>
                <%for(dateItem of calendar.dates){%>
                    <div class="<%-dateItem.isPassed ? 'prev-dates' : 'number-item cursor-pointer'%><%-dateItem.isToday ? ' calendar-today': ''%>"><%=dateItem.date%></div>
                <%}%>
            </div>
        </div>
    </div>
        
    </div>
</section>