<section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Team</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">

        <%for(collaborator of collaborators){%>
          <div class="col-lg-6">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="<%=imgBaseUrl + collaborator.profil_img.url%>" class="img-fluid" alt="<%=collaborator.profil_img.alt%>"></div>
              <div class="member-info">
                <h4><%=collaborator.name%></h4>
                <span><%=collaborator.role%></span>
                <p><%=collaborator.bio%></p>
                <div class="social">
                  <%for(item of collaborator.social_list){%>
                    <a href="<%=item.url%>"><i class="<%=item.icon%>"></i></a>
                  <%}%>
                </div>
              </div>
            </div>
          </div>
          <%}%>
      </div>

    </div>
  </section>